#body {
	color: $txt;
	background: $back;
	font-size: 0.9rem;
	box-sizing: border-box;
}
a {
	color: $txt;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.inner {
	max-width: 600px;
	margin: 0 auto;
}
.section_ttl {
	font-size: 1.1rem;
	margin-bottom: 10px;
}