#header {
	margin-top: 60px;
	.header {
		&_logo {
			width: 160px;
			height: 18px;
			line-height: 1;
			margin-bottom: 15px;
			a {
				display: block;
			}
		}
	}
}

#index {
	background: $back2;
	margin: 60px 0;
	padding: 30px 0;
	ol {
		margin-left: 20px;
		li {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#detail {
	margin-bottom: 100px;
	.detail {
		&_content {
			display: flex;
			align-items: flex-start;
			img {
				width: 270px;
				height: 270px;
				margin-right: 60px;
			}
		}
		&_txt {
			.section_ttl {
				margin-bottom: 20px;
			}
			dl {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				border-top: 1px solid $border;
				border-bottom: 1px solid $border;
				padding: 17px 0;
				margin-bottom: 25px;
				line-height: 1.5;
				dt {
					width: 25%;
				}
				dd {
					width: 75%;
				}
			}
			p {
				line-height: 1.5;
				margin-bottom: 23px;
			}
			.link:hover {
				opacity: .7;
			}
		}
	}
}

#footer {
	padding: 15px 0;
	p {
		font-size: 0.5rem;
	}
}