@media screen and (max-width: 1024px) {
	.inner {
		padding: 0 40px;
	}

	#header {
		padding: 0 10px;
	}

	#mainvisual {
		padding: 0 10px;
	}

	#index ol li {
		line-height: 1.5;
	}

	.detail_content {
		flex-flow: column;
		img {
			margin: 0 0 25px 0 !important;
			width: 100% !important;
		}
	}
}