#body {
  color: #333333;
  background: #F4F9FF;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

.section_ttl {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#header {
  margin-top: 60px;
}

#header .header_logo {
  width: 160px;
  height: 18px;
  line-height: 1;
  margin-bottom: 15px;
}

#header .header_logo a {
  display: block;
}

#index {
  background: #fff;
  margin: 60px 0;
  padding: 30px 0;
}

#index ol {
  margin-left: 20px;
}

#index ol li {
  margin-bottom: 20px;
}

#index ol li:last-child {
  margin-bottom: 0;
}

#detail {
  margin-bottom: 100px;
}

#detail .detail_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#detail .detail_content img {
  width: 270px;
  height: 270px;
  margin-right: 60px;
}

#detail .detail_txt .section_ttl {
  margin-bottom: 20px;
}

#detail .detail_txt dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding: 17px 0;
  margin-bottom: 25px;
  line-height: 1.5;
}

#detail .detail_txt dl dt {
  width: 25%;
}

#detail .detail_txt dl dd {
  width: 75%;
}

#detail .detail_txt p {
  line-height: 1.5;
  margin-bottom: 23px;
}

#detail .detail_txt .link:hover {
  opacity: .7;
}

#footer {
  padding: 15px 0;
}

#footer p {
  font-size: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 40px;
  }
  #header {
    padding: 0 10px;
  }
  #mainvisual {
    padding: 0 10px;
  }
  #index ol li {
    line-height: 1.5;
  }
  .detail_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .detail_content img {
    margin: 0 0 25px 0 !important;
    width: 100% !important;
  }
}
